# Environment variables
.env
services/**/*.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Docker
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
